BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk_12mhz" SITE "63" ;
FREQUENCY PORT "clk_12mhz" 12 MHz ;
LOCATE COMP "led1" SITE "1" ;
LOCATE COMP "led2" SITE "2" ;
LOCATE COMP "led3" SITE "4" ;
LOCATE COMP "led4" SITE "7" ;
LOCATE COMP "led5" SITE "8" ;
LOCATE COMP "led6" SITE "13" ;
LOCATE COMP "led7" SITE "16" ;
LOCATE COMP "led8" SITE "17" ;
LOCATE COMP "ledneg" SITE "21" ;
LOCATE COMP "seg1neg" SITE "24" ;
LOCATE COMP "seg2neg" SITE "25" ;
LOCATE COMP "btn1" SITE "35" ;
LOCATE COMP "btn2" SITE "38" ;
LOCATE COMP "btn3" SITE "39" ;
LOCATE COMP "btn4" SITE "40" ;
LOCATE COMP "btn5" SITE "41" ;
LOCATE COMP "buzzer" SITE "28" ;
LOCATE COMP "scl" SITE "86" ;
LOCATE COMP "sda" SITE "85" ;

