BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk_12mhz" SITE "63" ;
FREQUENCY PORT "clk_12mhz" 12 MHz ;
LOCATE COMP "led1" SITE "1" ;
LOCATE COMP "led2" SITE "2" ;
LOCATE COMP "led3" SITE "4" ;
LOCATE COMP "led4" SITE "7" ;
LOCATE COMP "led5" SITE "8" ;
LOCATE COMP "led6" SITE "13" ;
LOCATE COMP "led7" SITE "16" ;
LOCATE COMP "led8" SITE "17" ;
LOCATE COMP "ledneg" SITE "21" ;
LOCATE COMP "digit1neg" SITE "24" ;
LOCATE COMP "digit2neg" SITE "25" ;
LOCATE COMP "btn1" SITE "35" ;
LOCATE COMP "btn2" SITE "38" ;
LOCATE COMP "btn3" SITE "39" ;
LOCATE COMP "btn4" SITE "40" ;
LOCATE COMP "btn5" SITE "41" ;
LOCATE COMP "sounder" SITE "28" ;
LOCATE COMP "scl" SITE "86" ;
LOCATE COMP "sda" SITE "85" ;
LOCATE COMP "cs" SITE "27" ;
LOCATE COMP "sck" SITE "31" ;
LOCATE COMP "miso" SITE "32" ;
LOCATE COMP "sn" SITE "48" ;
LOCATE COMP "mosi" SITE "49" ;
LOCATE COMP "io1" SITE "71" ;
LOCATE COMP "io2" SITE "70" ;
LOCATE COMP "io3" SITE "74" ;
LOCATE COMP "io4" SITE "67" ;
LOCATE COMP "io5" SITE "75" ;
LOCATE COMP "io6" SITE "66" ;
LOCATE COMP "io7" SITE "76" ;
LOCATE COMP "io8" SITE "62" ;
LOCATE COMP "io9" SITE "77" ;
LOCATE COMP "io10" SITE "58" ;
LOCATE COMP "io11" SITE "81" ;
LOCATE COMP "io12" SITE "57" ;
LOCATE COMP "io13" SITE "87" ;
LOCATE COMP "io14" SITE "54" ;
LOCATE COMP "io15" SITE "88" ;
LOCATE COMP "io16" SITE "53" ;
LOCATE COMP "io17" SITE "98" ;
LOCATE COMP "io18" SITE "52" ;
LOCATE COMP "io19" SITE "99" ;
LOCATE COMP "io20" SITE "51" ;
